#footer {
	padding: 25px 0;

	a {
		color: white;
		display: inline;
		float: right;
		padding: 0 0 0 3%;
		font-size: 1.7rem;
		font-weight: 100;

		i {
			padding: 0 5px 0 0;
		}/*i*/
	}/*a*/

	img {
		margin: -10px 0 0 0;
		width: 150px;
		display: inline;
		padding: 0 0 10px 0;
	}/*img*/

	@media (max-width: 500px) {
		height: 150px;
		img {
			width: 80%;
			display: block;
		}

		a {
			display: block;
			width: 100%;
			padding: 0 0 0 15%;
		}
	}/*500px*/
}/*footer*/