#import {
	padding: 100px 0;

	.panel-heading {
		background-color: #424242;
		color: white;
		text-transform: uppercase;

	}/*panel-heading*/

	.panel {
		border: none;
		background: lightgray;
		color: #424242;
		font-size: 2rem;
	}

	.submit-button{
		background-color: #1f5ba5;
		border: none;
		margin: 15px 0 0;
	}

	.import-content {
		margin: 10px 0 0 0;
		vertical-align: top;
	}

	@media (max-width: 500px) {
		padding: 25px 0;
		width: 90%;
		margin: 0 auto;
	}
}/*import*/